body * {
  width: 100%;
  line-height: 1.5;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* EVENTS */

#events {
  & > * + * {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
  }
}

.event {
  width: 100%;
  display: flex;
  flex-direction: column;

  .name {
    font-size: 1.5rem;
    font-style: bold;
  }

  .break {
    opacity: 0.3;
    .name {
      font-size: 1rem;
    }
  }

  .details {
    width: 100%;
    display: flex;
    fiex-direction: row;
    justify-content: space-between;

    .datetime {
      text-align: right;
    }
  }
}


/* SPEAKERS */

#speakers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: masonry;
  gap: 1rem;
}

.speaker {
  box-sizing: border-box;
  border: 1px solid #cbcbcb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    max-width: 20rem;
    max-height: 20rem;
    object-fit: cover;
  }

  .name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .bio {
    white-space: pre-wrap;
    width: 100%;
  }

}
